body{
  margin-left: 20vh;
 
}



.container{
    margin-left: 20wv;
    margin-right: 10wh;
}


#ynet {
    height: 20vh;
    width: vw;
    margin-left: 20vw;
    margin-right: 15vw;
    font-size: 90%;

}

#ynet ul li {
    display: inline;
    padding: 0.5vw;
}

img {
    height: 130px;
    width: auto;
    margin-bottom:-3%;
    padding-left: 1vw;
    padding-right: 1vw;
}


#barra {
    height: 5vh;
    width: 70vw;
    background-color: red;
    color: white;
    margin-left: 5vw;
   

}
#barra ul{

}
#barra ul li{
    display: inline-block;
    padding: 1vw;
    margin-bottom: auto;
    margin-top: -1vh;
    

}

#preço{
    height: 20px;
    width: 20px;
    margin-left: -9vw;
}
#login{
    height: 2vh;
    width: auto;
    margin-top: -10%;
}
#sun{
    height: 2vh;
    width: auto;
}
#list{
    height: 2vh;
    width: auto;
}
#notifications{
    height: 2vh;
    width: auto;
    
}

#news{
    width: 8vw;
    text-align: right;
    display: -webkit-inline-box;
    padding: 20px;
    margin-top: 2vh;
    margin-left: 3.9vw;

}
#news h5{
    text-align: right;
    margin-right: 40px;
   
    
}

#manchete ul{
    list-style-type: none;
    text-align: right;
    margin-right: 15vw;
}
#manchete ul li{
    display: inline-block;
}
#manchete ul li a p{
    width: 25vw;
    height: auto;
}
#manchete h1{
    width: 25vw;
    height: auto;
}
#manchete img{
    height: auto;
    width: 40vw;
}


.lista{
    list-style-type: none;
    
}
.conteudo1{
    background-color: red;
    color: white;
    text-align: right;
    width: 30vw;
    height: 14vh;
}
.conteudo2{
    background-color: blue;
    color: white;
    text-align: right;
    width: 30vw;
    height: 14vh;
}
.conteudo3{
    background-color: red;
    color: white;
    text-align: right;
    width: 30vw;
    height: 14vh;
}
.conteudo4{
    background-color: darkblue;
    color: white;
    text-align: right;
    width: 30vw;
    height: 14vh;
}

.foto{
    float: right;
    height: 50px;
    margin-right: 40vw;
    margin-top: -15vh;
    
}

#prop{


}
#leftprop{
    display: flex;
   
}
#rightprop{
   float: right;
   margin-top: -63vh;
   height: 63vh;
   width: 22vw;
   margin-right: 5vw;
}

#leftup {
    margin-left: 47vw;
    margin-top: -65vh;
    height: 34vh;
    width: 12vw;
}
#leftdown {
    margin-left: -13.99vw;
    margin-top: -30vh;
    height: 32vh;
    width: 12vw;

}